<div class="container header">
    <img srcset="../images/logo.png 2x" alt="reanty">
    <ul class="menu">
        <li class="menu__item"><a href="#!" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="#!" class="menu__link">About</a></li>
        <li class="menu__item"><a href="#!" class="menu__link">Feature</a></li>
        <li class="menu__item"><a href="#!" class="menu__link">Market</a></li>
        <li class="menu__item"> <a href="#!" class="menu__link">Services</a></li>
        <li class="menu__item"><a href="#!" class="menu__link">Contact</a></li>
        <li class="menu__item"><a href="#!" class="menu__link">Log In</a></li>
        <li class="menu__item menu__item--signup"><a href="#!" class="menu__link">Sign Up</a></li>
    </ul>
</div>
