<div class="hero-wrapper">
  <div class="hero">
    <div class="hero__left">
      <p class="hero__left__title">
        Find the best Real Estate on your country .
        <img
          srcset="../images/directionToVideo.png 2x"
          class="hero__left__img"
        />
      </p>
      <p class="hero__left__desc">
        With over 1 million homes for sale available on the <br />
        website, Renting can match you with a house.
      </p>
      <div class="hero__left__slider">
        
      </div>
    </div>
    <div class="hero__right">
      <div class="hero__video--wrapper">
        <video class="hero__video" id="video" muted>
          <source src="../assets/videos/reanty-works.mp4" type="video/mp4" />
        </video>
        <div class="hero-revenue">
          <div class="hero-revenue__content">
            <img src="../assets/icons/increase.svg" />
            <p class="hero-revenue__number">$7454.21</p>
            <p class="hero-revenue__desc">Revenue</p>
          </div>
        </div>
        <div class="hero-button" id="play-video">
          <span class="hero-button__text">How it works</span>
          <div class="hero-button__icon">
            <img src="../assets/icons/play.svg" id="action-icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
