:root {
    --white: #FFFFFF;
    --white50: #F2F6F7;
    --white20: #EBEBEB;
    --primary: #FF593D;
    --primary70: #FFAC9C;
    --primary50: #F6DEDC;
    --black: #061C1F;
    --black50: #7F8BA6;
    --black40: #899BA2;
    --black30: #9EAAB2;
    --black20: #B2BBC0;
    --black-purple: #171B2A;
    --black-purple50: #4D69AF;
    --black-purple10: #A6B2D3;
}
